<!--<div class="clearfix">-->
<!--  <form class="form-inline float-right">-->
<!--    <input class="form-control mr-sm-2 search-form" type="search" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn text-secondary my-2 my-sm-0" type="submit">-->
<!--        <i class="fas fa-search"></i>-->
<!--      </button>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->

<div class="clearfix">
  <div class="form-inline float-right">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word, class: "form-control mr-sm-2 search-form", placeholder: "Search" %>
      <%= f.select :range, options_for_select([['Item'], ['Genre']]) %>
      <%#= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
      <%= f.submit "Search", class: "btn text-secondary my-2 my-sm-0" %>
    <% end %>
  </div>
</div>