<div class="container p-3">
  <div class="row">
     <!--render 'admin/shared/header.html.erb'-->
    <div class="col-md-12">

      <h3>会員一覧</h3>

      <table class="table">
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
        <% @members.each do |member| %>
          <tr>
            <td><%= member.id %></td>
            <td><%= link_to member.family_name + member.first_name, admin_member_path(member.id) %></td>
            <td><%= member.email %></td>
            <td><%= member.is_deleted %></td>
          </tr>
        <% end %>
      </table>

    </div>
     <!--render 'admin/shared/footer.html.erb' -->
</div>


