<h3>商品一覧</h3>
<table>
  <thead>
    <th>商品ID</th>
    <th>商品名</th>
    <th>税抜価格</th>
    <th>ジャンル</th>
    <th>ステータス</th>
  </thead>
  
  <tbody>
    <% @itmes.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= item.name %></td>
      <td><%= item.price %></td>
      <td><%= item.genre_id.name %></td>
      <td>
      <% if item.is_active == true %>
        <p>販売中</p>
      <% else %>
        <p>販売停止中</p>
      <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
