
<h3>商品一覧</h3>

<p>
  <%= button_to "ログアウト", destroy_admin_session_path, method: :delete %>
</p>
<table>
  <thead>
    <th>商品ID</th>
    <th>商品名</th>
    <th>税抜価格</th>
    <th>ジャンル</th>
    <th>ステータス</th>
  </thead>

  <tbody>

  </tbody>
</table>


