@media screen and (max-width:768px) {
  .title{
    font-size:      24px;
  }
  body{
    font-size:      14px;
  }
  .btn{
    font-size:      14px;
  }
  .main-box{
    width:          100%;
    display:        block;
    margin-right:   0;
    margin-left:    0;
    padding-right:  0;
    padding-left:   0;

  }
  .box{
    width:          100%;
    display:        block;
    margin-right:   auto;
    margin-left:    auto;
  }
  .col-3{
    max-width:      90%;
    padding:        0px;
  }
  .col-4{
    max-width:      90%;
    padding:        0px;
  }
  .right{
    text-align: right;
  }
  .col-6{
    max-width:      90%;
    padding:        0px;
  }
  .row{
    display:        inline-block;
    width:          100%;
    margin-right:   auto;
    margin-left:    auto;
  }

}

@media screen and (max-width:480px) {
  .title{
    font-size:      24px;
  }
  body{
    font-size:      14px;
  }
  .btn{
    font-size:      14px;
  }
  .main-box{
    width:          100%;
    display:        block;
    margin-right:   0;
    margin-left:    0;
    padding-right:  0;
    padding-left:   0;

  }
  .box{
    width:          100%;
    display:        block;
    margin-right:   auto;
    margin-left:    auto;
  }
  .col-3{
    max-width:      90%;
    padding:        0px;
  }
  .col-4{
    max-width:      90%;
    padding:        0px;
  }
  .right{
    text-align: right;
  }
  .col-6{
    max-width:      90%;
    padding:        0px;
  }
  .row{
    display:        inline-block;
    width:          100%;
    margin-right:   auto;
    margin-left:    auto;
  }

}