<div class="container p-3">
  <div class="row">
    <%= render 'public/shared/header.html.erb' %>

    <div class="col-md-12">
      <h1 class="text-center mb-5">About</h1>
      <div class="text-center">
        <p>ながのCAKEは全国発送可能なケーキ屋さんです。</p>
        <p>お子様からお年寄りの方までお召し上がりいただけるよう、</p>
        <p>様々なバリエーシ ョンをご用意しております。</p>
        <p>また、 全国へ発送 可能ですので 「いつ」でも 「どこ」でもご注文いただけます。</p>
        <p>ぜひご注文ください。</p>
      </div>
    </div>

    <%= render 'public/shared/footer.html.erb' %>
  </div>
</div>


