<div class="container p-3">
  <div class="row">
    <%= render 'admin/shared/header.html.erb' %>
    <div class="col-md-12">
      <h3>注文履歴詳細</h3>
      
      
      <table>
        <thead>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <% @items.each do |item| %> 
          <tr>
            <td><%= </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      
    </div>
  </div>
</div>
