<div class="container p-3">
  <div class="row">
    <%= render 'admin/shared/header.html.erb' %>
    <div class="col-md-12">
      
    <h1>Admin::Homes#top</h1>
    <p>Find me in app/views/admin/homes/top.html.erb</p>
    <h2>注文履歴一覧画面（あとでつくる）</h2>
    
    </div>
  </div>
</div>
