@use '~bootstrap/scss/bootstrap';


@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Shippori Mincho', serif;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
// ヘッダー

header {
  background-color: #FFEAEA;
  width: 100%;
}

.search-form {
  background-color: #FFEAEA;
}

.header-size {
  max-width: 980px;
  margin: 0 auto;
}

.navbar-toggler {
  background-color: #FFEAEA;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(108,117,125,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

// public/homes/top

.main-visual {
  display: inline-block;
  background-color: rgba(0,0,0,0.6);
  height: 100%;
  width: 100%;
  padding-top: 100px;
}

.main-visual-cover {
  text-align: center;
  background-image: url(../images/top-image.jpg);
  background-position: 50% 50%;
  background-size: cover;
  height: 400px;
  width: 80%;
}

// footer

footer {
  background-color: #5C574B;
  width: 100%;
  min-height: 200px;
  margin-top:auto;
}

.footer-size {
  max-width: 980px;
  margin: 0 auto;
}


// フッター位置調整用
.container {
  min-height: 70vh;
}

// 商品画像の縦横比を固定
.object-fit-cover {
  object-fit: cover;
}

//会員ログインページ、新規登録ページ

.necessary-field {
  background-color: #F17070;
}

// 以下、レスポンシブ対応

@media screen and (min-width:992px) {

  // header
  .search-box-for-responsive{
    display: none;
  }
  .flex-for-more-md{
    display: flex;
    flex-direction: column;
  }
  .horizontal-for-more-than-md{
    display: flex;           /* Flexboxを有効にしてアイテムを水平にする */
    flex-direction: row;     /* アイテムを水平方向に配置 */
    padding-left: 0;
  }
  .horizontal-for-more-than-md > .nav-item {
    display: flex;           /* アイテムを水平にする */
    flex: 1 1 auto;          /* アイテムを均等に広げる */
    margin-right: 0.25rem;   /* アイテム間のスペースを確保 */
    margin-bottom: 0;        /* 縦のマージンをリセット */
  }
}


@media screen and (max-width:991px) {
  // header
  .search-box-for-more-md{
    display: none;
  }
  .flex-for-less-than-md {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex-for-xs{
    display: flex;
  }
}

@media screen and (min-width:768px) {
// public/top
  .flex-for-more-md-top{
    display: flex;
  }
}
