@use '~bootstrap/scss/bootstrap';


@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Shippori Mincho', serif;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

// ヘッダー

header {
  background-color: #FFEAEA;
  width: 100%;
}

.search-form {
  background-color: #FFEAEA;
}

.header-size {
  max-width: 980px;
  margin: 0 auto;
}

// public/homes/top

.main-visual {
  display: inline-block;
  background-color: rgba(0,0,0,0.5);
}

.main-visual-cover {
  text-align: center;
  background-image: url(../images/top-image.jpg);
}
