@use '~bootstrap/scss/bootstrap';


@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Shippori Mincho', serif;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
// ヘッダー

header {
  background-color: #FFEAEA;
  width: 100%;
}

.search-form {
  background-color: #FFEAEA;
}

.header-size {
  max-width: 980px;
  margin: 0 auto;
}

// public/homes/top

.main-visual {
  display: inline-block;
  background-color: rgba(0,0,0,0.6);
  height: 100%;
  width: 100%;
  padding-top: 100px;
}

.main-visual-cover {
  text-align: center;
  background-image: url(../images/top-image.jpg);
  background-position: 50% 50%;
  background-size: cover;
  height: 400px;
  width: 80%;
}

// footer

footer {
  background-color: #5C574B;
  width: 100%;
  height: 200px;
  margin-top:auto;
}

.footer-size {
  max-width: 980px;
  margin: 0 auto;
}


// フッター位置調整用
.container {
  min-height: 70vh;
}

// 商品画像の縦横比を固定
.object-fit-cover {
  object-fit: cover;
}

//会員ログインページ、新規登録ページ

.necessary-field {
  background-color: #F17070;
}